<html>
<head>
 <style>
  a{
   font-size:25px;
   margin-right:15px;
  }
 </style>
</head>
 
<body>
  <hr style='border:2px solid red'>
  <div style='text-align: center;'>
   <a href='/employee-management'>Home</a>
   <a href='/employee-management/insert'>Insert</a>
   <a href='/employee-management/list'>List</a>
   <a href='/employee-management/delete'>Delete</a>
   <a href='/employee-management/edit'>Edit</a>
   <a href='/employee-management/search'>Search</a>
   <a href='/employee-management/search-by-dept'>Search by dept</a>
  </div>
  <hr style='border:2px solid red'>
</body>
</html>

